//- module
mixin brd-card-sm(opt)
  a.card.shadow.text-dark(href="#",
  style="text-decoration:none;width:250px")&attributes(attributes)
    .card-img-top.bg-dark(style="height:200px")
    .card-body
      h5.mb-0.text-truncate #{opt.name || '未命名的活動'}
      if opt.orgName
        .text-sm.text-muted.mb-2 #{opt.orgName}
      .text-sm.text-muted 2019/12/01 ~ 2019/12/31#[br]台北小巨蛋

mixin brd-card(opt)
  a.card.shadow.text-dark(href="#",
  style="text-decoration:none;width:300px")&attributes(attributes)
    .card-img-top.bg-dark(style="height:300px")
    .card-body
      h5.mb-0.text-truncate #{opt.name || '未命名的活動'}
      if opt.orgName
        .text-sm.text-muted.mb-2 #{opt.orgName}
      .text-sm.text-muted 2019/12/01 ~ 2019/12/31#[br]台北小巨蛋

