//- module

mixin prj-list(opt)
  .w-640&attributes(attributes)
    a.text-dark.text-no-deco(href=`/p/${opt.id}`)
      .d-flex.align-items-center
        .rounded.bg-dark.bg-cover.bg-portrait.mr-1(style=`width:3em;height:3em;flex:1 0 auto;background-image:url(${opt.thumb})`)
        .text-truncate
          .d-flex.align-items-end.mb-1
            h5.mb-0.mr-1.text-truncate #{opt.name || '未命名的計劃'}
            .text-sm.text-muted By #{opt.ownerName || '未具名'}
          .text-sm.text-muted.w-100.text-truncate  #{(opt.description || '').substring(0,100)} ...

mixin prj-list-sm(opt)
  div(style="width:320px")&attributes(attributes): a.text-dark.text-no-deco(href=`/p/${opt.id}`)
    .d-flex.align-items-center
      .rounded.bg-dark.bg-cover.bg-portrait.mr-1(style=`width:3em;height:3em;flex:1 0 auto;background-image:url(${opt.thumb})`)
      .text-truncate
        .d-flex.align-items-end.mb-1
          h5.mb-0.mr-1.text-truncate #{opt.name || '未命名的計劃'}
          .text-sm.text-muted By #{opt.ownerName || '未具名'}
        .text-sm.text-muted.w-100.text-truncate  #{(opt.description || '').substring(0,100)} ...

mixin prj-thumb(opt)
  a.rounded.bg-dark.bg-cover.bg-portrait.mr-1.d-inline-block(href=`/p/${opt.id}`,
  style=`width:3em;height:3em;background-image:url(${opt.thumb})`)&attributes(attributes)

mixin prj-card(opt)
  a.text-dark.text-no-deco(href=`/p/${opt.id}`): .card(style="width:300px;overflow:hidden")&attributes(attributes)
    .card-img-top.w-100
      .aspect-ratio.ratio-4by3.bg-dark.bg-cover.bg-portrait.border-bottom(style=`background-image:url(${opt.thumb})`)
    .card-body
      h5.text-truncate #{opt.name || '未命名的提案'}
      .text-sm.text-muted.mb-2 By #[a(href=`/user/${opt.owner}`) #{opt.ownerName || '未具名'}]
      .text-sm.text-muted.mb-2 #{(opt.description || '').substring(0,50)} ...

mixin prj-card-sm(opt)
  a.text-dark.text-no-deco(href=`/p/${opt.id}`): .card(style="width:250px;overflow:hidden")&attributes(attributes)
    .card-img-top.w-100
      .aspect-ratio.ratio-3by2.bg-dark.bg-cover.bg-portrait.border-bottom(style=`background-image:url(${opt.thumb})`)
    .card-body
      h5.text-truncate #{opt.name || '未命名的提案'}
      .text-sm.text-muted.mb-2 By #[a(href=`/user/${opt.owner}`) #{opt.ownerName || '未具名'}]
      .text-sm.text-muted.mb-2 #{(opt.description || '').substring(0,50)} ...
